* {
  box-sizing: border-box;
}

.macBookPro141 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  padding: 877px 60px 73px 1279px;
  width: 1512px;
  height: 982px;
  overflow: hidden;

  .settings {
    width: 32px;
    height: 32px;
    overflow: hidden;
  }

  .rectangle1 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #000000;
    background: #ffffff;
    padding: 4px 16px 33px 9px;
    width: 1512px;
    height: 982px;

    .text2 {
      width: 63px;
      height: 19px;
      text-align: center;
      letter-spacing: 0;
      color: #000000b2;
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
    }

    .a1F34A1 {
      width: 37px;
      height: 37px;
    }

    .autoWrapper4 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .autoWrapper {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 74px;
        padding-left: 0;

        .simpleOrange {
          margin: 11px 0px 0px;
          background: linear-gradient(90deg, #ffaf4a 0%, #bb4a07 100%);
          background-clip: text;
          line-height: 19px;
          letter-spacing: 0;
          color: transparent;
          font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 700;
          -webkit-background-clip: text;
        }

        .group1 {
          display: flex;
          align-items: center;
          margin-top: 11px;
          margin-left: 19px;
          padding-bottom: 1px;

          .rectangle18 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            border-radius: 29px;
            box-shadow: 0px 6px 6px 0px #00000040;
            background: #538fd480;
            padding: 4px 11px 4px 13px;

            .text {
              width: 47px;
              height: 13px;
              text-align: center;
              letter-spacing: 0;
              color: #faf8f5;
              font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
              font-weight: 700;
            }
          }
        }
      }

      .rectangle19 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        margin-left: 18px;
        border: 1px solid #e9e9e9;
        border-radius: 20px;
        box-shadow: 0px 2px 4px 0px #00000040;
        background: #faf8f5;
        padding-top: 7px;
        padding-bottom: 699px;

        .text4 {
          margin: 4px 0px 0px;
          width: 231px;
          height: 19px;
          letter-spacing: 0;
          color: #000000b2;
          font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }

        .pointRight1 {
          width: 23px;
          height: 23px;
        }

        .autoWrapper2 {
          display: flex;
          align-items: center;
          align-self: stretch;
          padding-right: 15px;
          padding-left: 9px;

          .filePlus {
            margin-left: 144px;
            width: 24px;
            height: 24px;
            overflow: hidden;
          }

          .folderPlus {
            margin-left: 12px;
            width: 24px;
            height: 24px;
            overflow: hidden;
          }
        }

        .line1 {
          margin-top: 5px;
          margin-left: -1px;
          border-radius: 50%;
          background: #d1d0d0b5;
          width: 293px;
          height: 1px;
        }

        .autoWrapper3 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 17px;
          padding-right: 17px;
          padding-left: 16px;

          .folder {
            width: 24px;
            height: 24px;
            overflow: hidden;
          }

          .text3 {
            margin: 5px 0px 0px;
            width: 231px;
            height: 19px;
            letter-spacing: 0;
            color: #000000b2;
            font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
          }
        }

        .group5 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin: 6px -1px 0px 32px;
          min-width: 260px;
        }

        .group4 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 6px;
          margin-left: 32px;
          min-width: 259px;
        }
      }
    }

    .textOnAPath {
      margin-top: 48px;
      border: 1px solid #e9e9e9;
      background: #faf8f5;
      width: 527px;
      height: 895px;
    }

    .autoWrapper8 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 5px;

      .autoWrapper5 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        padding-right: 0;
        padding-left: 474px;

        .search {
          display: flex;
          align-items: center;
          padding: 4px;
          overflow: hidden;

          .icon {
            width: 24px;
            height: 24px;
          }
        }
      }

      .rectangle4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        border: 1px solid #e9e9e9;
        border-radius: 20px;
        box-shadow: 0px 2px 4px 0px #00000040;
        background: #faf8f5;
        padding-top: 7px;
        padding-bottom: 31px;

        .autoWrapper6 {
          display: flex;
          align-items: center;
          align-self: stretch;
          padding-right: 30px;
          padding-left: 14px;

          .clock {
            margin-left: 443px;
            width: 24px;
            height: 24px;
            overflow: hidden;
          }

          .plusSquare {
            display: flex;
            align-items: center;
            margin-left: 16px;
            padding: 3px;
            overflow: hidden;

            .icon2 {
              border-radius: 2px;
              width: 18px;
              height: 18px;
            }
          }
        }

        .line2 {
          margin-top: 5px;
          margin-left: -1px;
          border-radius: 50%;
          background: #d1d0d0b5;
          width: 616px;
          height: 1px;
        }

        .autoWrapper7 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 25px;
          padding-right: 504px;
          padding-left: 14px;

          .text5 {
            margin: 8px 0px 0px;
            background: linear-gradient(90deg, #ffaf4a 0%, #bb4a07 100%);
            background-clip: text;
            line-height: 23px;
            letter-spacing: 0;
            color: transparent;
            font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 700;
            -webkit-background-clip: text;
          }
        }

        .text6 {
          margin: 8px 0px 0px 40px;
          width: 480px;
          height: 20px;
          letter-spacing: 0;
          color: #000000b2;
          font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }

        .rectangle16 {
          opacity: 0.5;
          margin-top: 570px;
          margin-left: 28px;
          border-radius: 20px;
          background: #d9d9d9;
          width: 559px;
          height: 166px;
        }
      }
    }
  }

  .autoWrapper9 {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;

    .rectangle17 {
      display: flex;
      align-items: center;
      border-radius: 20px;
      box-shadow: 0px 4px 4px 0px #00000040;
      background: #538fd480;
      padding: 4px 8px 4px 9px;

      .deepseekV3 {
        width: 112px;
        height: 21px;
        letter-spacing: 0;
        color: #faf8f5;
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
